root {
    /* Variables */
    --clr-jade: #44af69ff;
    --clr-indigo-dye: #344966ff;
    --clr-powder-blue: #b4cdedff;
    --clr-baby-powder: #f0f4efff;
    --clr-burgundy: #941c2fff;
    --clr-aquamarine: #44ffd2ff;
    --clr-dark-purple: #3b1c32ff;
    --clr-dark-slate-gray: #33473fff;
    --clr-sunset: #ffcf9cff;
    --clr-brown-sugar: #b96d40ff;


    --clr-dark: var(#f0f4efff);
    --clr-darker: var(#b4cdedff);
    --clr-darkest: var(#344966ff);
    --clr-contrast: var(#44ffd2ff);
    --clr-border: var(#b96d40ff);
    --clr-highlight: var(#ffcf9cff);
    --clr-lowlight: var(#941c2fff);
    --clr-night: var(#33473fff);
    --clr-dark-text: var(#3b1c32ff);
    --clr-contrast-dark: var(#44af69ff);

    --fnt-highlight-txt: "Poiret One", sans-serif;
    --fnt-form-btn: "Cinzel", serif;
    --fnt-form-txt: "Edu NSW ACT Foundation", cursive;
    --fnt-titles: "Dancing Script", cursive;
    --fnt-aside-txt: "Raleway", sans-serif;
    --fnt-page-txt: "Mulish", sans-serif;

    font-size: 18px;
    font-family: var(--fnt-form-btn);
    background-color: var(--clr-powder-blue);
    color: var(night);
}

.pic-200 {
    width: 100px;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    min-width: 50%;
}

h1 {
    font-size: 1.7rem;
    font-family: var(--fnt-titles);
}

ul {
    display: flex;
    flex-flow: row nowrap;
    min-width: 35%;
}

li {
    text-decoration: none;
    font-family: var(--fnt-titles);
    display: flex;
    text-align: center;
    padding: 0.5rem;
}

a {
    font-family: var(--fnt-titles);
    text-decoration: none;
    color: var(--clr-dark-slate-gray);
}

form {
    display: flex;
}

input {
    display: flex;
    background-color: var(--clr-dark-purple);
    columns: var(--clr-baby-powder);
}

button {
    padding: 0.75rem;
    font-family: var(--fnt-form-btns);
    border-radius: 12%;
    justify-content: space-between;
}

.userForm {
    display: block;
    border: solid 2px var(--clr-burgundy);
    border-radius: 15%;
}

.form-page {
    display: flex;
    flex-flow: row;
    border: var(--clr-burgundy);
    color: var(--clr-burgundy);
}

.form-input {
    display: inline;
    border: var(--clr-brown-sugar);
    background-color: var(--clr-baby-powder);
    padding: 0.7rem;
    margin: 0.5rem;
    border-radius: 1.5rem;
}

.log-in-form-l2 {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem;
    margin: 0.5rem;
    border-radius: 1.5rem;
}

.user-login-form {
    display: flex;
    height: 100%;
    min-width: 10%;
    background-color: var(--clr-brown-sugar);
}